.home-page.container-fluid {
  background-color: rgb(206, 226, 204);

  width: 75%;
  margin: 0 auto;

  padding-top: 120px;

  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: clamp(1.375rem, calc(1.375rem + 1.5vw), 2.5rem);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
  }

  .card {
    background-color: rgb(206, 226, 204);
    border: none;
    box-shadow: none;
    align-items: center;
  }

  .card img.movie-poster {
    //filmposterns utseende
    width: 220px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto 0.75rem; //flyttar bilden hoger/vanster

    border: 3px solid #448547; //fargen
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 992px) {
  .home-page {
    width: 90%;
  }
}