.home-page.container-fluid {
  background-color: rgb(181, 236, 181);

  width: 75%;
  margin: 0 auto;

  padding-top: 120px;

  h1 {
    text-align: center;
  }

  .card {
    background-color: rgb(181, 236, 181);
    border: none;
    box-shadow: none;
  }

  .card img.movie-poster {
    width: 65%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto 0.75rem;
  }

}

@media (max-width: 992px) {
  .home-page {
    width: 90%;
  }
}
