.home-page.container-fluid {
  background-color: rgb(181, 236, 181);

  width: 75%;
  margin: 0 auto;

  padding-top: 120px;

  h1 {
    text-align: center;
  }

  .card {
    background-color: rgb(181, 236, 181);
    border: none;
    box-shadow: none;
  }

  .card img.movie-poster {      //filmposterns utseende
    width: 65%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 0 0.75rem 0;  //flyttar bilden höger/vänster

    border: 3px solid #2e673d;  //färgen
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0, 0.25);
  }

}

@media (max-width: 992px) {
  .home-page {
    width: 90%;
  }
}
