:root{
  --header:#3f6f5b;
  --main:#dcefdc;
  --footer:#d9d9d9;
}

*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family: Arial, sans-serif;
}


.header{
  background: var(--header);
  padding: 16px 40px;
  display:flex;
  align-items:center;
}

.logo img{
  height:110px;
}


.nav{
  margin: 0 auto;
  background:#eee;
  padding:15px 100px;
  border-radius:999px;
  display:flex;
  gap:30px;
}

.nav a{
  text-decoration:none;
  color:#000;
}

/* Höger sida */
.account{
  display:flex;
  align-items:center;
  gap:12px;
}

.btn{
  border:none;
  padding:10px 14px;
  border-radius:999px;
  cursor:pointer;
}

.avatar{
  width:60px;
  height:60px;
  background:#eee;
  border-radius:50%;
}

/* MAIN */

.main{
  background: var(--main);
  height:65vh;
}


.footer{
  background: var(--footer);
  padding:25px 40px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.footer-center{
  text-align:center;
}

.chat{
  background:#eee;
  padding:25px 20px;
  border-radius:100px;
  cursor:pointer;
}
